<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>FilMania</title>
</head>
<body>
    {% include 'pages/header.html' %}

    {%  block content %}
    {% endblock content %}
    {% include 'pages/footer.html' %}

        <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-up-arrow-alt scrollup__icon'></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="static/js/scrollreveal.min.js"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="static/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="static/js/main.js"></script>

</body>
</html>