<header class="header" id="header">
            <nav class="nav container">
                <a href="/" class="nav__logo">
                    FilMania
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>

                        <li class="nav__item">
                            <a href="/movies" class="nav__link">Filmy</a>
                        </li>

                        

                        <a href="/accounts/login" class="button button--ghost">Logowanie</a>

                        <li class="nav__item">
                            {% if user.is_authenticated %}
                                <a href="/accounts/hello">
                                    {{request.user.username}}
                                </a>
                            </li>
                            <li>
                                <a href="/movies/create">Dodaj film</a>
                            </li>
                            <li>
                                <a href="/accounts/log_out">Log out</a>
                            </li>
                            
                            {% endif %}
                            
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>

            </nav>
        </header>