{% extends 'pages/base.html' %}
{% block content %}
     <main class="main">
            <!--==================== HOME ====================-->
            <section class="home container" id="home">
                <div class="swiper home-swiper">
                    <div class="swiper-wrapper">
                        <!-- HOME SLIDER 1 -->
                        <section class="swiper-slide">
                            <div class="home__content grid">
                                <div class="home__group">
                                    <img src="static/img/magda.jpg" alt="" class="home__img">
                                </div>

                                <div class="home__data">
                                    <h3 class="home__subtitle">#1 Magda Gessler schudła :o</h3>
                                    <h1 class="home__title">LUDZIE SĄ W SZOKU!</h1>
                                    <p class="home__description">Magda Gessler schudła 1kg. Ludzie są w szoku. Nikt nie wie jak tego dokonała...
                                    </p>

                                    <div class="home__buttons">
                                        <a href="#" class="button--link button--flex">Czytaj dalej <i class='bx bx-right-arrow-alt button__icon'></i></a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- HOME SLIDER 2 -->
                        <section class="swiper-slide">
                            <div class="home__content grid">
                                <div class="home__group">
                                    <img src="static/img/mati.jpg" alt="" class="home__img">
                                    <div class="home__indicator"></div>
                                </div>

                                <div class="home__data">
                                    <h3 class="home__subtitle">#2 Ksiądz Mateusz</h3>
                                    <h1 class="home__title">Ksiądz Mati to fake!</h1>
                                    <p class="home__description">Artur Żmijewski wcale nie jest księdzem. Sekret o którym się nie mówi głośno...
                                    </p>

                                    <div class="home__buttons">
                                        <a href="#" class="button--link button--flex">Czytaj dalej <i class='bx bx-right-arrow-alt button__icon'></i></a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- HOME SLIDER 3 -->
                        <section class="swiper-slide">
                            <div class="home__content grid">
                                <div class="home__group">
                                    <img src="static/img/hanna.jpg" alt="" class="home__img">
                                    <div class="home__indicator"></div>
                                </div>

                                <div class="home__data">
                                    <h3 class="home__subtitle">#3 Sekret Hanny Montany</h3>
                                    <h1 class="home__title">Podwója tożsamość piosenkarki</h1>
                                    <p class="home__description">Hannah Montana to tak naprawdę Miley Cyrus...
                                    </p>

                                    <div class="home__buttons">
                                        <a href="#" class="button--link button--flex">Czytaj dalej <i class='bx bx-right-arrow-alt button__icon'></i></a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>


            <section class="section filser" id="filmy">
                <h2 class="section__title">Najlepsze seriale miesiąca!</h2>

                <div class="filser__container container grid">
                    <div class="filser__content">
                        <img src="static/img/spider.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Spiderman</h3>
                        <span class="filser__subtitle">Film o człowieku pająku</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <a href="#"><i class='bx bx-log-in-circle filser__icon'></i></a>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="static/img/batman.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Mroczny Rycerz</h3>
                        <span class="filser__subtitle">Film o batmanie</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="static/img/batman.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Mroczny Rycerz</h3>
                        <span class="filser__subtitle">Film o batmanie</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="static/img/batman.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Mroczny Rycerz</h3>
                        <span class="filser__subtitle">Film o batmanie</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="static/img/batman.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Mroczny Rycerz</h3>
                        <span class="filser__subtitle">Film o batmanie</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>
                                    <div class="home__buttons">
                                        <a href="#" class="button--link button--flex">Więcej seriali <i class='bx bx-right-arrow-alt button__icon'></i></a>
                                    </div>

                </div>
            </section>


            <section class="section filser" id="seriale">
                <h2 class="section__title">Najlepsze filmy miesiąca!</h2>

                <div class="filser__container container grid">
                    <div class="filser__content">
                        <img src="static/img/spider.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Spiderman</h3>
                        <span class="filser__subtitle">Film o człowieku pająku</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <a href="#"><i class='bx bx-log-in-circle filser__icon'></i></a>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="static/img/batman.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Mroczny Rycerz</h3>
                        <span class="filser__subtitle">Film o batmanie</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>
                                    <div class="home__buttons">
                                        <a href="{% url 'movies' %}" class="button--link button--flex">Więcej filmów <i class='bx bx-right-arrow-alt button__icon'></i></a>
                                    </div>
                </div>
            </section>

             <section class="section newsletter">
                <div class="newsletter__container container">
                    <h2 class="section__title">Newsletter</h2>
                    <p class="newsletter__description">
                        Bądź na bieżąco z filmami i serialami!
                    </p>

                    <form action="" class="newsletter__form">
                        <input type="text" placeholder="Podaj swój adres Email" class="newsletter__input">
                        <button class="button">
                            Subskrybuj
                        </button>
                    </form>
                </div>
            </section>

     </main>
{% endblock content %}