{% include 'base.html' %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
         <link rel="stylesheet" type="text/css" href="static/css/styles_movies.css">
    <title>FilMania</title>
</head>
<body>
<header class="header" id="header">
            <nav class="nav container">
                <a href="{% url 'index' %} " class="nav__logo">
                    FilMania
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#filmy" class="nav__link">Filmy</a>
                        </li>

                        <li class="nav__item">
                            <a href="#next" class="nav__link">Następna strona</a>
                        </li>

                        <a href="/accounts/login" class="button button--ghost">Logowanie</a>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>

            </nav>
        </header>
{% block content %}
    <main class="main">
         <section class="section filser" id="filmy">
                <h2 class="section__title">Baza filmów!</h2>

                <div class="filser__container container  ">
                    <div class="filser__content">
                        <img src="/static/img/spider.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Spiderman</h3>
                        <span class="filser__subtitle">Film o człowieku pająku</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <a href="#"><i class='bx bx-log-in-circle filser__icon'></i></a>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="/static/img/batman.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Mroczny Rycerz</h3>
                        <span class="filser__subtitle">Film o batmanie</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="/static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="/static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="/static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="/static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="/static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="/static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="/static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="filser__content">
                        <img src="/static/img/batmanfor.jpg" alt="" class="filser__img">
                        <h3 class="filser__title">Barman Forever</h3>
                        <span class="filser__subtitle">Stara część z pierwszej trylogii</span>
                        <span class="filser__price"></span>
                        <button class="button filser__button">
                            <i class='bx bx-log-in-circle filser__icon'></i>
                        </button>
                    </div>

                    <div class="home__buttons" id="next">
                        <a href="{% url 'movies' %}" class="button--link button--flex">Następna strona <i class='bx bx-right-arrow-alt button__icon'></i></a>
                    </div>

                </div>
            </section>
    </main>
     <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-up-arrow-alt scrollup__icon'></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="static/js/scrollreveal.min.js"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="static/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="static/js/main.js"></script>
{% endblock content %}
<footer class="footer section" id="footer">
                <div class="footer__container container grid">
                    <div class="footer__content">
                        <a href="#" class="footer__logo">
                            FilMania
                        </a>

                        <p class="footer__description">Zbiór najlepszych filmów i seriali w sieci!</p>

                    </div>

                    <div class="footer__content">
                       <h3 class="footer__title">O nas</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Kim jesteśmy</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Polityka firmy</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">Sociale</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                                    <i class='bx bxl-facebook'></i>
                                </a>

                                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                                    <i class='bx bxl-instagram-alt' ></i>
                                </a>

                                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                                    <i class='bx bxl-twitter' ></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <span class="footer__copy">&#169; Filmania Interactive. Wszelkie prawa zastrzeżone!</span>
            </footer>
</body>
</html>