{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
         <link rel="stylesheet" type="text/css" href="static/css/styles_movies.css">
    <title>FilMania</title>
</head>
<body>
<header class="header" id="header">
            <nav class="nav container">
                <a href="{% url 'index' %} " class="nav__logo">
                    FilMania
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#filmy" class="nav__link">Filmy</a>
                        </li>

                        <li class="nav__item">
                            <a href="#next" class="nav__link">Następna strona</a>
                        </li>

                        <a href="/accounts/login" class="button button--ghost">Logowanie</a>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>

            </nav>
        </header>
{% block content %}

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>   

{% load ratings %}

    <main class="main">
         <section class="section filser" id="filmy">
                <h2 class="section__title"> {{movie.title}}</h2>

                
                <div>
                   
                  <img   src="{{movie.model_img.url}}" />
                  {% if is_fav %}
                  <button id='fav' onclick="add_to_favourite({{movie.id}})" >Dodaj do ulubionych</button>
                  {% else %}
                  <button id='fav' onclick="add_to_favourite({{movie.id}})" >Usuń z ulubionych</button>
                 {% endif %}
                    {{movie.content}}
                    {{movie.director}}
                    {{movie.scenariusz}}
                    {{movie.gatunek}}
                    {{movie.kraj}}
                    {{movie.data_premiery}}
                    {% ratings movie %}
                </div>
                   

                    <div class="home__buttons" id="next">
                        <a href=# class="button--link button--flex">Następna strona <i class='bx bx-right-arrow-alt button__icon'></i></a>
                    </div>

                </div>
            </section>

            <!-- Wypisanie komentarzy do filmu -->
            <div>
                {% for obj in comments %}
                    {% if movie.id == obj.movie.id %}
                        <p>{{obj.body}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- Dodawanie komentarzy -->
            <form action="" method='POST'>{% csrf_token %}
                <input type='hidden' name='movie_id' value={{movie.id}}>
                    {{c_form}}
                <button type='submit'>comment</button>
            </form>


    </main>
     <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-up-arrow-alt scrollup__icon'></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="static/js/scrollreveal.min.js"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="static/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="static/js/main.js"></script>
{% endblock content %}
{% include 'pages/footer.html' %}
</body>
</html>