{% extends 'pages/base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/app.js' %}"></script>   

{% load ratings %}

    <main class="main">
         <section class="section filser" id="filmy">
                <h2 class="section__title"> {{movie.title}}</h2>

                
                <div class="filser__container container  ">
                    <div class="filser__content2">
                        <img src="{{movie.model_img.url}}" alt="" class="det__img">
                        {% if user.is_authenticated %}
                        {% if is_fav %}
                        <button id='fav' onclick="add_to_favourite({{movie.id}})" >Dodaj do ulubionych</button>
                        {% else %}
                        <button id='fav' onclick="add_to_favourite({{movie.id}})" >Usuń z ulubionych</button>
                        {% endif %}
                        {% endif %}
                        
                        <br>
                        {{movie.content}}<hr class="linia" />
                        <p>Reżyseria: {{movie.director}}</p>
                        <p>Scenariusz: {{movie.scenariusz}}</p>
                        <p>Gatunek: {{movie.gatunek}}</p>
                        <p>Produkcja: {{movie.kraj}}</p>
                        <p>Premiera: {{movie.data_premiery}}</p>


                    {% ratings movie %}

                    {% if movie.author == user or user.is_superuser %}
                        <p><a href="../../update/{{movie.id}}"><button>Update</button></a></p>
                        <p><a href="../../delete/{{movie.id}}"><button>Delete</button></a></p>
                    {% endif %}

                    </div>
                </div>
                
            </section>

            </section>
            {% if user.is_authenticated %}
            <section class="home container" id="komentarze">
            <!-- Dodawanie komentarzy -->
            <form action="" method='POST'>{% csrf_token %}
                <input type='hidden' name='movie_id' value={{movie.id}}>
                    {{c_form}}
                <button type='submit' class="comment">comment</button>
            </form>
            <br />
                <!-- Wypisanie komentarzy do filmu -->
                    <div>
                {% for obj in comments %}
                    {% if movie.id == obj.movie.id %}
                        <span>{{obj.user}} - {{obj.created|timesince}} ago</span>
                        <p>{{obj.body}}</p>
                        <hr class="linia_coment" />
                    {% endif %}
                {% endfor %}
            </div>
                </div>
         </section>
         {% endif %}


    </main>
     <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-up-arrow-alt scrollup__icon'></i>
        </a>

        {% load static %}
        <!--=============== SCROLL REVEAL ===============-->
        <script src="{% static 'js/scrollreveal.min.js' %}"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{% static 'js/main.js' %}"></script>
{% endblock content %}
