{% include 'base.html' %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    {% load static %}
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">

        <!--=============== CSS ===============-->
         <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>FilMania</title>
</head>
<body>
<header class="header" id="header">
            <nav class="nav container">
                <a href="{% url 'index' %} " class="nav__logo">
                    FilMania
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#filmy" class="nav__link">Filmy</a>
                        </li>

                        <li class="nav__item">
                            <a href="#next" class="nav__link">Następna strona</a>
                        </li>

                        <a href="/accounts/login" class="button button--ghost">Logowanie</a>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>

            </nav>
        </header>

{% block content %}


    <main class="main">
         <section class="section filser" id="filmy">
            <h1> Witaj {{request.user.username}}</h1>
                <h2 class="section__title">Twoje polubione filmy!</h2>
                <div class="filser__container container grid">
                {% for movie in movies %}
                    <a href="/movies/details/{{movie.id}}">
                    <div class="filser__content">
                        <img src="{{movie.model_img.url}}" alt="" class="filser__img">
                        <h3 class="filser__title">{{movie.title}}</h3>
                        <h2 class="filser__subtitle">{{movie.short_desc}}</h2>
                    </div></a>

                {% endfor %}

                </div>
            </section>
    </main>
     <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-up-arrow-alt scrollup__icon'></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="{% static 'js/scrollreveal.min.js' %}"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{% static 'js/main.js' %}"></script>
{% endblock content %}
{% include 'pages/footer.html' %}
</body>
</html>