{% extends 'pages/base.html' %}

{% block content %}

{% load static %}
    <main class="main">
         <section class="section filser" id="filmy">
            <h1 class="section__title"> Witaj {{request.user.username}}</h1>
                <h2 class="section__title">Twoje polubione filmy!</h2>
                <div class="filser__container container grid">
                {% for movie in movies %}
                    <a href="/movies/details/{{movie.id}}">
                    <div class="filser__content2">
                        <img src="{{movie.model_img.url}}" alt="" class="filser__img">
                        <h3 class="filser__title">{{movie.title}}</h3>
                        <h2 class="filser__subtitle">{{movie.short_desc}}</h2>
                    </div></a>

                {% endfor %}

                </div>
                
                
            </section>
            {% if movie.author == user or user.is_superuser %}
            <section class="section filser" id="filmy">
                <h2 class="section__title">Twoje recenzje!</h2>
                <div class="filser__container container ">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">name</th>
                        <th scope="col"> usuń</th>
                        <th scope="col">edytuj</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                  
                  {% for item in items %}
                  
                  <tr>
                    <th scope="row">{{item.id}}</th>
                    <td><a href="/movies/details/{{item.id}}">{{item.title}}</a></td>
                    <td><p><a href="/movies/update/{{item.id}}"><button>Update</button></a></p>
                        
                    <td><p><a href="/movies/delete/{{item.id}}"><button>Delete</button></a></p></td></td>
                    
                  </tr>
                  
                  {% endfor %}
                  
                  
                     
                    </tbody>
                  </table>
                </div>
            </section>
            {% endif %}
    </main>
     <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-up-arrow-alt scrollup__icon'></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="{% static 'js/scrollreveal.min.js' %}"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{% static 'js/main.js' %}"></script>
{% endblock content %}

