{% include 'pages/base.html' %}

{% block content %}

{% load static %}
    <main class="main">
         <section class="section filser" id="filmy">
            <h1> Witaj {{request.user.username}}</h1>
                <h2 class="section__title">Twoje polubione filmy!</h2>
                <div class="filser__container container grid">
                {% for movie in movies %}
                    <a href="/movies/details/{{movie.id}}">
                    <div class="filser__content">
                        <img src="{{movie.model_img.url}}" alt="" class="filser__img">
                        <h3 class="filser__title">{{movie.title}}</h3>
                        <h2 class="filser__subtitle">{{movie.short_desc}}</h2>
                    </div></a>

                {% endfor %}

                </div>
            </section>
    </main>
     <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-up-arrow-alt scrollup__icon'></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="{% static 'js/scrollreveal.min.js' %}"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{% static 'js/main.js' %}"></script>
{% endblock content %}

